body {
  font-family: "Darker Grotesque";
  margin: 0;
  padding: 0;
}

.header-left-top {
  position: absolute;
  left: 0;
  top: 0;
  height: 300px;
}
@media (max-width: 320px) {
  .header-left-top {
    width: 25%;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .header-left-top {
    height: 100px;
    width: 15%;
  }
}

.header-right-top {
  position: absolute;
  right: 0;
  top: 0;
  height: 300px;
}
@media (max-width: 320px) {
  .header-right-top {
    width: 15%;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .header-right-top {
    height: 100px;
    width: 15%;
  }
}

.header-right-top-middle {
  position: absolute;
  right: 10px;
  top: 320px;
  width: 120px;
}
@media (max-width: 320px) {
  .header-right-top-middle {
    width: 15%;
    height: 30;
    position: absolute;
    top: 100px;
    right: 2px;
  }
}
@media (max-width: 768px) {
  .header-right-top-middle {
    height: 30px;
    width: 15%;
  }
}

.logo {
  height: 80px;
  margin-bottom: 40px;
}
@media (max-width: 320px) {
  .logo {
    width: 50%;
    height: 40px;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .logo {
    height: 40px;
    width: 25%;
    align-items: center;
  }
}

.Marketing-agency span {
  font-size: 42px;
  color: #222222;
  font-weight: 600;
  text-align: left;
}

.strategy {
  text-align: center;
}
.strategy .Digital-strategy {
  position: relative;
}
.strategy h4 {
  font-size: 100px;
  color: #222222;
  font-weight: 600;
}
.strategy h4 .first {
  display: block;
}
.strategy p {
  font-size: 21px;
  color: #222222;
  font-weight: 400;
  font-family: "Titillium Web";
}
.strategy .arrow-right {
  top: -60px;
  left: 80px;
  height: 310px;
  width: 200px;
  position: absolute;
}
.strategy .arrow-left {
  top: 45px;
  right: 80px;
  height: 85px;
  position: absolute;
}

.blue {
  color: #4242d6;
}

.blue,
.red {
  display: inline-block;
}

.bullet-area {
  font-size: 25px;
  color: #dc3254;
  margin-left: 20px;
  font-weight: 700;
}

.bullet {
  width: 35px;
  height: 35px;
  background-color: #dc3254;
  border-radius: 50%;
  border: 1px dotted #dc3254;
  font-family: "Titillium Web";
}

.bullet-area .row {
  margin-left: 100px !important; /* Reduce left margin */
  margin-right: 100px !important; /* Reduce right margin */
}
@media screen and (max-width: 768px) {
  .bullet-area .row {
    margin-left: 0px !important; /* Adjust margin for smaller screens */
    margin-right: 0px !important; /* Adjust margin for smaller screens */
  }
}

.red {
  color: #dc3254;
}

.list {
  padding: 0;
  margin: 0;
  width: 100%;
}
.list ul {
  list-style-type: none;
  padding: 0;
}
@media screen and (max-width: 320px) {
  .list ul {
    flex-wrap: wrap;
  }
}
.list ul li {
  margin-right: 10px;
  font-size: 21px;
  font-weight: 600;
  justify-content: space-between;
}

.revoulation h5 {
  font-size: 25px;
  text-transform: uppercase;
  color: #222222;
  font-weight: 700;
  font-family: "Titillium Web";
  text-align: center;
}
.revoulation p {
  font-size: 21px;
  color: #222222;
  font-weight: 400;
  font-family: "Titillium Web";
}

.footer {
  margin-top: 70px;
  margin-bottom: 60px;
}
.footer .box1 {
  height: 22px;
  width: 22px;
  border: 1px solid;
}
.footer .box2 {
  margin-top: 3px;
  background-color: #222222;
  height: 22px;
  width: 22px;
  border: 1px solid;
}
.footer .contact {
  padding: 10px 48px;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 33px;
  color: #222222;
  font-weight: 700;
  font-family: "Darker Grotesque";
  text-align: left;
  margin-top: -30px;
}
.footer .contact .book-now {
  border: 1px solid;
  padding: 5px;
  flex-wrap: wrap;
  cursor: pointer;
}
.footer .contact .number {
  border: 1px solid;
  padding: 24px;
}

digital-sterategy .banner-fix {
  position: relative;
}

.banner {
  display: flex;
  justify-content: center; /* Aligns horizontally in the center */
  align-items: flex-start; /* Aligns vertically at the top */
  position: relative;
  width: 90%;
  margin-left: 10%;
  margin-top: 60px;
}

.banner-top {
  position: absolute;
  top: 55px; /* Aligns at the top of the parent div */
  left: 50%; /* Moves to the middle horizontally */
  transform: translateX(-50%); /* Adjusts horizontally to center */
}/*# sourceMappingURL=style.css.map */