body{
font-family: "Darker Grotesque";
margin: 0;
padding: 0;
}

.header-left-top{
    position: absolute;
    left: 0;
    top: 0;
    // width: ;
    height: 300px;
}
.header-right-top{
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
}
.header-right-top-middle{
    position: absolute;
    right: 10px;
    top: 320px;
    width: 120px;
}
 .logo {
    height: 80px;
    margin-bottom: 40px;

    @media (min-width: 992px) {
      margin-top: 50px;
    }
}
.Marketing-agency{
    span{
        font-size: 42px;
            // line-height: 33px;
            color: #222222;
            font-weight: 600;
            text-align: left;
    }
}
.strategy{
    text-align: center;
    .Digital-strategy{
        position: relative;
    }
    h4{
            font-size: 100px;
            // letter-spacing: -5px;
            color: #222222;
            font-weight: 600;
        .first{
             display: block;
        }
            
    }
    p{
            font-size: 21px;
            color: #222222;
            font-weight: 400;
            font-family: "Titillium Web";
            
    }
    // .one{
    //     position: relative;
    // }
    .arrow-right{
        top: 0;
        left: 80px;
        height: 300px;
        width: 200px;
        position: absolute;
    }
    .arrow-left{

        top: 0;
        right: 80px;
        height: 100px;
        //  width: 200px;
        position: absolute;
    }
}
.blue {
    color: #4242d6;
}
.blue,
.red {
  display: inline-block;
}

.bullet-area{
font-size: 21px;
    color: #dc3254;
    margin-left: 20px;
    font-weight: 700;
}
.bullet {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    /* To make it a circle */
    border: 1px dotted red;

    font-family: "Titillium Web";
}

.bullet-area {
  .row {
    margin-left: 100px !important; /* Reduce left margin */
    margin-right: 100px !important; /* Reduce right margin */

    @media screen and (max-width: 768px) {
      margin-left: 0px !important; /* Adjust margin for smaller screens */
      margin-right: 0px !important; /* Adjust margin for smaller screens */
    }
  }
}



.red {
    color: #dc3254;
}

 
  .list {
    padding: 0;
    margin: 0;
    width: 100%;
 ul{
    list-style-type: none;
    padding: 0;

    li {
      margin-right: 10px;
        
            font-size: 21px;
            font-weight: 600;
            justify-content: space-between;
    }

}
  }


.revoulation{
    h5{
        // height: 80px;
        font-size: 25px;
        text-transform: uppercase;
        color: #222222;
        font-weight: 700;
        font-family: "Titillium Web";
        text-align: center;
    }
    p{

            font-size: 21px;
            color: #222222;
            font-weight: 400;
            font-family: "Titillium Web";
    }
}

.footer {
    margin-top: 70px;
    margin-bottom: 60px;
.box1{
    height: 22px;
    width: 22px;
    border: 1px solid;
}
.box2{
    margin-top: 3px;
    background-color: #222222;
    height: 22px;
    width: 22px;
    border: 1px solid;
}
.contact{
    padding: 10px 48px;
    font-size: 42px;
letter-spacing: -1px;
line-height: 33px;
color: #222222;
font-weight: 700;
font-family: "Darker Grotesque";
text-align: left;
margin-top: -30px;

.book-now{
    border: 1px solid;
    padding: 5px;
    flex-wrap: wrap;

}
.number{
    border: 1px solid;
    padding:24px;
}
}
}digital-sterategy


.banner-fix {
  position: relative;
}

.banner {
  display: flex;
  justify-content: center; /* Aligns horizontally in the center */
  align-items: flex-start; /* Aligns vertically at the top */
  position: relative;
  width: 90%;
  margin-left: 10%;
   margin-top: 60px;
//    margin-bottom: 20px;
}

.banner-top {
  position: absolute;
  top: 55px; /* Aligns at the top of the parent div */
  left: 50%; /* Moves to the middle horizontally */
  transform: translateX(-50%); /* Adjusts horizontally to center */
}

