body{
font-family: "Darker Grotesque";
margin: 0;
padding: 0;
}

.header-left-top{
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;

    @media (max-width: 320px) {
      width: 25%;
      height: 100px;
    }
    @media (max-width:768px) {
        height: 100px;
        width: 15%;
        
    }
}
.header-right-top{
    position: absolute;
    right: 0;
    top: 0;
    height: 300px;
    @media (max-width: 320px) {
      width: 15%;
      height: 100px;
    }
    @media (max-width:768px) {
        height: 100px;
        width: 15%;
        
    }
    
}
.header-right-top-middle{
    position: absolute;
    right: 10px;
    top: 320px;
    width: 120px;

    @media (max-width:768px) {
        height: 50px;
        width: 50px;
        top: 140px;
        
    }
    @media (max-width: 600px) {
      width: 15%;
      height: 30;
      position: absolute;
      top: 140px;
      right: 2px;
    }
}
 .logo {
    height: 80px;
    margin-bottom: 40px;
    margin-top: 60px;

    @media (max-width: 320px) {

    height: 18px;
    align-items: center;
    }

    @media (max-width:768px) {
        height: 28px;
        width: 32%;

    align-items: center;
        
    }
}
.Marketing-agency{
    span{
        font-size: 42px;
            color: #222222;
            font-weight: 600;
            text-align: left;
    }
}
.strategy{
    text-align: center;
    .Digital-strategy{
        position: relative;
    }
    h1{
            font-size: 100px;
            line-height: .8;
            color: #222222;
            font-weight: 700;

    @media (max-width:768px) {
       font-size: 45px;
        
    }
            
        .first{
             display: block;
        }
            
    }
    p{
            font-size: 21px;
            color: #222222;
            font-weight: 400;
            font-family: "Titillium Web";
            
    }
    .arrow-right{
        top: -86px;
        left: 80px;
        height: 310px;
        width: 200px;
        position: absolute;
        @media (max-width:600px) {
            top: 2px;
    left: -25px;
    height: 140px;
    width: 106px;
    position: absolute;
        }
    }
    .arrow-left{

        top: 21px;
        right: 128px;
        height: 85px;
        position: absolute;

        @media (max-width:600px) {

    top: 51px;
    right: -4px;
    height: 38px;
    position: absolute;
            
        }
    }
}
.blue {
    color: #4242d6;
}
.blue,
.red {
  display: inline-block;
}

.bullet-area{
    font-size: 25px;
    color: #dc3254;
    margin-left: 20px;
    font-weight: 700;
}
.bullet {
    width: 35px;
    height: 35px;
    background-color: #dc3254;
    border-radius: 50%;
    border: 1px dotted #dc3254;
    font-family: "Titillium Web";
}

.bullet-area {
  .row {
    margin-left: 100px !important; /* Reduce left margin */
    margin-right: 100px !important; /* Reduce right margin */

    @media screen and (max-width: 768px) {
      margin-left: 0px !important; /* Adjust margin for smaller screens */
      margin-right: 0px !important; /* Adjust margin for smaller screens */
    }
  }
}



.red {
    color: #dc3254;
}

 
  .list {
    padding: 0;
    margin: 0;
    width: 100%;
    
 ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 600px) {
        display: block;

    }

    li {
      margin-right: 10px;
        
            font-size: 21px;
            font-weight: 600;
            justify-content: space-between;
    }

}
  }


.revoulation{
    h5{
        // height: 80px;
        font-size: 25px;
        text-transform: uppercase;
        color: #222222;
        font-weight: 700;
        font-family: "Titillium Web";
        text-align: center;
    }
    p{

            font-size: 21px;
            color: #222222;
            font-weight: 400;
            font-family: "Titillium Web";
    }
}

.footer {
    margin-top: 70px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box{

            justify-content: space-between;
    }
.box1{
    height: 22px;
    width: 22px;
    border: 1px solid;
    @media (max-width:768px) {
   margin-top: 10px;
        
    }
}
.box2{
    margin-top: 3px;
    background-color: #222222;
    height: 22px;
    width: 22px;
    border: 1px solid;
}
.contact{
    padding: 10px 48px;
    font-size: 42px;
letter-spacing: -1px;
line-height: 33px;
color: #222222;
font-weight: 700;
font-family: "Darker Grotesque";
text-align: left;
// margin-top: -30px;

    @media (max-width:768px) {
   
    padding: 5px 20px;
    font-size: 20px;
        
    }
.book-now{
    border: 1px solid;
    padding: 5px;
    flex-wrap: wrap;
    cursor: pointer;

}
.number{
    border: 1px solid;
    padding:24px;
}
}
}digital-sterategy


.banner-fix {
  position: relative;
}

.banner {
  display: flex;
  justify-content: center; /* Aligns horizontally in the center */
  align-items: flex-start; /* Aligns vertically at the top */
  position: relative;
  width: 90%;
  margin-left: 10%;
   margin-top: 60px;

   @media (max-width:600px) {
   
    width: 100%;
    margin: 30px 10px;

   }
}

.banner-top {
  position: absolute;
  top: 55px; /* Aligns at the top of the parent div */
  left: 50%; /* Moves to the middle horizontally */
  transform: translateX(-50%); /* Adjusts horizontally to center */

    @media (max-width:768px) {
   height: 50%;
//    width: 50%;
        
    }
}

// .strategy .arrow-right {
//     top: 2px;
//     left: -25px;
//     height: 140px;
//     width: 106px;
//     position: absolute;
// }



// .strategy .arrow-left {
//     top: 51px;
//     right: -4px;
//     height: 38px;
//     position: absolute;
// }